**/.suo
**/obj
**/bin
Tools/etcd/etcd.exe
Tools/etcd/etcdctl.exe
Tools/etcd/default.etcd/
Bin/
**/*.csproj.user
**/~$*.xlsx
**/.vs/*
Logs/
.idea/
Client/Logs
Client/obj
Client/Temp
Client/UserSettings
Client/Library
